</body>
<footer>
 
    <!-- <div class="zoek-balk">
        <div class="zoek-balk-menu">
            <i class='bx bx-search icon'></i>
            <input type="search" placeholder="filter chats by name">
        </div>
    </div> -->

    <label for="textfield"></label>
    <input type="text" class="text-input" id="textfield" name="name" placeholder="Ask me something!" />

    <button>send</button>
 
   
    <!-- <p class="copyright">© Deloitte 2024</p> -->
</footer>

</html>