<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensen pagina</title>
</head>
    <body>
        <nav>
            <ul>
                <li><a href="" alt="">Home</a></li>
                <li><a href="">Werk</a></li>
                <li><a href="">Vacatures</a></li>
                <li><img src="" alt="Q42"></li>
                <li><a href="">Over</a></li>
                <li><a href="">Mensen</a></li>
                <li><a href="">Nieuws</a></li>
            </ul>
        </nav>
