<!DOCTYPE html>
    <html lang="nl">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="./styles/stylesheet.css" />
        <link rel="stylesheet" href="./styles/style.css">
        <script defer src="./scripts/tijdlijn.js"></script>
      </head>
      <body>