<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link to CSS Files -->
    <link rel="stylesheet" href="/style.css" />

      <!-- Link to Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- Link to JavaScript script -->
    <script src="/script.js" defer></script>

    <title>Deloitte</title>
  </head>

  <body>

<img src="/assets/headstart-logo.png" class="logoHeadstart" alt="logoHeadstart" />
    
</html>
