{% layout 'layouts/base.liquid'%}
{% block content %}
    <main>
        <h1>Deze pagina maakt geen deel uit van het project</h1>
        <p>Dit is een nagebouwde pagina als onderdeel van een schoolproject. Alleen de detailpagina van de elektriseermachine is uitgewerkt.</p>
        <a href="/">Terug naar de hoofdpagina</a>
    </main>
{% endblock %}