<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Ontdek de Grote Elektriseermachine met Leidse flessen in Teylers Museum. Een interactief verhaal over elektriciteit, wetenschap en geschiedenis.">

    <link rel="preload" href="/assets/fonts/Bitter-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/inter-regular.woff2" as="font" type="font/woff2" crossorigin>

    {% block head %}{% endblock %}

    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Teyler Museum Elektriseermachine</title>
</head>

<body>
    {% include 'partials/header.liquid' %}
    {% block content %}{% endblock %}
    {% include 'partials/footer.liquid' %}
    <script src="/js/main.js"></script>
</body>

</html>