<%- include('./partials/head') %>

<main>

    <article class="audit">

        <a href="/" class="homeButton">home</a>

        <h1 class="titel"> Prompt</h1>
                    <form>
                        <ul>
                            <% prompts.forEach(prompt => { %>
                                <li>
                                    <p class="prompt"><%- prompt.text %></p>
                                </li>
                            <% }); %>
                        </ul>
                    </form>

                    <input type="submit" class="submit-input" value="Start the prompt" />
                <button class="cancelButton">cancel</button>

    </article>
</main>

<%- include('./partials/foot') %>
