<%- include('./partials/head') %>

<!-- Header van de overzichtspagina -->
<%- include('./partials/header') %>

<!-- Main van de overzichtspagina -->
<main>

</main>

<%- include('./partials/foot') %>