<%- include('./partials/head') %>

<!-- Header van de overzichtspagina -->
<%- include('./partials/header') %>

<!-- Main van de overzichtspagina -->
<main class="collection">
    <section>
        <h1><%= collection.attributes.title %></h1>
    </section>

</main>

<%- include('./partials/foot') %>