<%- include('./partials/head') %>
<article class="hero">
    <section>
        <h1>Welkom Daan</h1>
        <p>Vandaag heb jij een dienst als 1e hulp lijn</p>
        <button class="primairy-button">Plannen</button>
    </section>
    <img src="/img/hero.png" alt="planner" width="400" height="400">
</article>

<section class="planner">
    <ul class="weeks">
        <li>
            <button class="secondairy-button">Week 1/6</button>
        </li>
        <li>
            <button class="secondairy-button">Week 6/12</button>
        </li>
        <li>
            <button class="secondairy-button">Week 12/18</button>
        </li>
        <li>
            <button class="secondairy-button">Week 18/24</button>
        </li>
        <li>
            <button class="secondairy-button">Week 24/30</button>
        </li>
        <li>
            <button class="secondairy-button">Week 30/36</button>
        </li>
        <li>
            <button class="secondairy-button">Week 36/42</button>
        </li>
        <li>
            <button class="secondairy-button">Week 42/48</button>
        </li>
        <li>
            <button class="secondairy-button">Week 48/52</button>
        </li>
    </ul>

</section>
<section class="planner-table">
<div class="table-container">
    <div class="table-cell">Data 1</div>
    <div class="table-cell">Data 2</div>
    <div class="table-cell">Data 3</div>
    <div class="table-cell">Data 4</div>
    <div class="table-cell">Data 5</div>
    <div class="table-cell">Data 6</div>
    <div class="table-cell">Data 7</div>
    <div class="table-cell">Data 8</div>
    <div class="table-cell">Data 9</div>
    <div class="table-cell">Data 10</div>
</div>
</section>




<%- include('./partials/foot') %>