{% render 'partials/header.liquid' %}
<section id="mobile">
  <a id="button" href="#menu">MENU</a>
  <picture>
    <img src="/mstile-558x558.png" alt="Q42" width="50rem" height="50rem">
  </picture>
  <a href="">CONTACT</a>
</section>

<section class="q_ers" alt="">
  <article>
    <h1>De mensen van Q42</h1>

    <p>Onze mensen noemen we Q'ers. Maar wie zijn dat dan?
            Die Q'ers die het internet aan het afmaken zijn? Check ze allemaal hieronder. 
            En wil je ook Q'er worden, 
            scroll dan even voorbij onze hoofden voor de openstaande vacatures!
    </p>
  </article>
</section>

<section>
  <ul class="q_ers">
    {% for user in users %}
      <li>
        <h3>{{ user.name }}</h3>
        <p>{{ user.email }}</p>
        {% if user.avatars %}
          <img
            src="{{ user.avatars[0] }}"
            alt=""
            height="250rem"
            width="250rem">
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>