<%- include('./partials/head') %>

<!-- Header van de indexpagina -->
<header>

</header>

<!-- Inhoud met diverse podcasts -->
<main>
    <h1><% data.attributes %></h1>
</main>

<!-- enkele opties in de footer -->
<footer>

</footer>

<%- include('./partials/foot') %>