<%- include('./partials/head') %>

<!-- Header van de indexpagina -->
<header>

</header>

<!-- Inhoud met diverse podcasts -->
<main>
    <% Collections.forEach(Collection => { %>

    <% }); %>
</main>

<!-- enkele opties in de footer -->
<footer>

</footer>

<%- include('./partials/foot') %>