<%- include('./partials/head') %>

<main>

    <article>

        <a href="/">home</a>

        <h1 class="welkom-tekst"> Deloitte </h1>
        <ul>
            <% prompts.forEach(prompt=> { %>
                <li>
                    <%- prompt.text %>
                </li>
            <% }) %>
        </ul>
    </article>
</main>

<%- include('./partials/foot') %>
