@font-face {
    font-family: "proxima_nova";
    src: url(../fonts/proxima-nova-300.woff2) format(woff);
}

@font-face {
    font-family: "tisa_sans";
    src: url(../fonts/tisa-sans-web-pro-300.woff2) format(woff);
}

*{  
    color-scheme: light dark;
    --background-color: light-dark(#ffffff, #41453b);
    --text-color: light-dark(#212121, #eeeeee);
    --q42-color: #84bc2d;

    --font-heading: "tisa_sans", sans-serif;
    --font-text: "proxima_nova", sans-serif;
}

.q_ers{
    background-color: var(--background-color);
}
