.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10em auto 3em;
    width: 80%;

}

#weekForm {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

select {
    color: var(--main-color);
    font-size: 1.8em;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px var(--main-color);
}

option:active {
    background-color: var(--important-color);
}

.hero button {
    margin-top: 1em;
}

#week-data {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.week-data-zero-state {
    margin-top: 0;
    fill: var(--form-error-color);
    width: 15em;
    height: 15em;
}


.planner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weeks {
    display: flex;
    overflow-y: auto;
    -ms-scroll-snap-x: mandatory;
}

.weeks .secondairy-button {
    margin: 0.5em;
}

/* Kalender */
.planner-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Basisstijl voor de tabel */
#table-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);
    padding: 0;
    width: 100%;
}

.table-cell {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    height: 20em;
    width: 15em;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
}

.assignment {
    margin-top: 1em;
}
