:root {
    /*colors*/
    --main-color: #003D86;
    --main-color-active: #0096DA;

    --secondary-color: #0096DA;
    --secondary-color-active: #0096DA;

    --tertairy-color: #FFFF;

    --important-color: #FFCD00;

    --form-check-color: #0E7D33;
    --form-error-color: #BB0606;


    /*border radius*/
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

main {
    height: 100vh;
    width: 100vw;

}

h1 {
    color: var(--main-color);
    font-size: 5em;
}

h2 {
    color: var(--main-color);
    font-size: 3.5em;
}

p  {
    color: var(--main-color);
    font-size: 2em;
}

 label {
     font-weight: bold;
     color: var(--main-color);
     font-size: 1.5em;
 }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.8em;
    font-weight: bold;
}


.primairy-button {
    background-color: var(--important-color);
    color: var(--main-color);
    padding: 0.2em 2em 0.2em 2em;
}

.secondairy-button {
    background-color: var(--main-color);
    color: var(--tertairy-color);
    padding: 0.2em 0.8em 0.2em 0.8em;
}



button:hover {
    scale: 1.1;
    transition: 0.2s ease;
}

box-icon {
    width: 4em;
height: 4em;
}




