/*=====================-Header-======================*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    .nav-logo img {
        width: 3.5rem;
        height: auto;
    }

    .nav-toggle svg{
        width: 2.5rem;
        height: auto;
    }
}

.nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto;
    background-color: var(--color-secondary);
    color: var(--color-brand);
    flex-direction: column;
    gap: var(--spacing-lg);

    &:target,
    &.open {
        display: flex;
    }

    @media (prefers-reduced-motion: no-preference) {
        left: -100%;
        transition: 0.3s ease-out;

        &:target,
        &.open {
            left: 0;

            @starting-style {
                left: -100%;
            }
        }
    }
}

.nav-menu-top {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
    
}
.nav-primary {
    font-family: var(--font-primary);
    font-size: var(--font-size-body-3xl);
    font-weight: var(--font-weight-bold);
    margin-top: var(--spacing-xl);
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
    ul{
        li{
            a{
                &::after{
                    content: url("/assets/icons/arror-right.svg");
                    margin-left: 1rem;
                    vertical-align: middle;
                }
            }
        }
    }  
}
.nav-secondary {
    font-family: var(--font-secondary);
    font-size: var(--font-size-body-lg);
    margin-top: var(--spacing-2xl);
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
    ul{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }
}
.nav-hours {
    margin-top: var(--spacing-2xl);
    font-weight: var(--font-weight-bold);
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
    font-size: var(--font-size-body-md);
}
.nav-utility {
    margin-top: var(--spacing-2xl);
    background-color: var(--color-brand);
    color: var(--color-secondary);
    padding: var(--spacing-xl);
    font-size: var(--font-size-body-lg);
    margin-top: auto;
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-md);
    }
}

/*=====================-Footer-======================*/
.footer-logo {}
.footer-info {}
.footer-social {}
.footer-bottom {}
.footer-legal {}
.footer-partners {}
.footer-newsletter {}



/*====================-Deviders-=====================*/





/*=====================-Detail-======================*/
/*------------------------Hero-----------------------*/
.hero {
    background-color: var(--color-secondary);
}

/*--------------------Hero-image---------------------*/
.hero-image {}

/*-------------------Exhibit-intro-------------------*/
.exhibit-intro {}
.exhibit-period {}
.exhibit-title {}
.exhibit-creator {}
.exhibit-link {}

/*-------------------Exhibit-info--------------------*/
.exhibit-info {}
.info-list {}
.info-item {}
.info-label {}

/*------------------Exhibit-status-------------------*/
.exhibit-status {}

/*------------------Exhibit-content------------------*/
.exhibit-content {}